[submodule "vendor/restclient"]
	path = vendor/restclient
	url = https://github.com/pashky/restclient.el
[submodule "vendor/flow-js2-mode"]
	path = vendor/flow-js2-mode
	url = https://github.com/Fuco1/flow-js2-mode.git
