[submodule "vendor/find-things-fast"]
	path = vendor/find-things-fast
	url = git@github.com:harto/find-things-fast.git
[submodule "vendor/restclient"]
	path = vendor/restclient
	url = https://github.com/pashky/restclient.el
